*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
 font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}


nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.A{
    color: orange;
}

nav .menu{
    list-style: none;
    gap: 51px;
    display: flex;
      align-items: center;
}

nav .menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
  
}

.hire-btn {
    border: none;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;}

    .contact-btn{
        width: 160px 64px;
border: 2px solid #FD6E0A;
 padding: 18px 35px;
 border-radius: 5px;
 font-size: 20px;
 font-weight: bold;
 background-color: white;
 color: #FD6E0A;
 cursor: pointer;
margin: left 30px;
    }

.cv-btn {
    border: none;
    color:white;
    background-color: #FD6E0A;
    border-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
margin-top: 50px;}

.cv-btn :hover{
background-color: brown;
}
 


#banner{
    margin:47px 38px 0 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner .banner-content
{max-width: 585px;
margin-bottom: 30px;
}

#banner .banner-content h2{
font-weight: 600;
font-size: 45px;
color: #474747;
margin-bottom: 5px;
}

#banner .banner-content h1{
font-weight:bold;
font-size: 85px;
color: #181818;
margin-bottom: 20px;
}

#banner .banner-content p{
font-size: 18px;
color: #757575;
line-height: 30px;
}

#banner .banner-image img{
     max-width: 685px 90%;
    vertical-align: middle;
}

/* about section */
.about-heading{
  max-width: 827px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;

}

.section-heading h2{
max-width: 827px;
text-align: center;
}

.section-heading h2{
    font-size: 32px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#about, #skill , #resume {
    padding-top: 130px;
    /* border: 100px solid white; */
    text-align: center;
   


}

#about .about-container{
   
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border: #FFF8F3;
}
 
#about .about-container .about-heading h2,p {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around   ;
}

.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    margin: 0;
  
}

.about-info .info-card h4 {
    font-size: 20px;}
.info-card p h4{
    margin: 0;
}
/* skill section */
.skill-headings {
        text-align: center;
    gap: 50px ;}

#skill .skill-container{
    /* border: 2px solid; */
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

/* .skill-container .skil-headings{ */

.skill-container .skill-box{
    /* border: solid; */
    display: flex;
   gap: 24px;}

   .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000006;
    /* border: 1px solid salmon; */
   }

   .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
   }

   .skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
   }

   .skill-card h2 p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
   }

   #resume .resume-container{
    width:71% ;
    max-width: 1140px;
    gap: 24px;
    margin: 113px auto 0 ;
   display: flex;

}

.resume-container .section-tittle{
font-size: 30px;
color: #474747;
margin-bottom: 30px;
font-weight: bold;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

.footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container p{
    color: #474747;
    line-height :28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icon a {
    margin-right: 24px;
}

.footer-container form input[type="text"] , .footer-container form input[type="email"] , .footer-container form textarea
{
    width: 461px;
    border: none;
    border-radius: 5px;
    padding: 18px 31px;
    margin-bottom: 24px;
    color: #757575;


}